<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>

<p id="notice"><%= notice %></p>

<h1>Defects</h1>

<table id="customers">
  <thead>
    <tr>
      <th>Title</th>
      <th>Articles</th>
      <th>User</th>
      <th>Issue type</th>
      <th>Priority</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @defects.each do |defect| %>
      <tr>
        <td><%= defect.title %></td>
        <td><%= defect.articles %></td>
        <td><%= (defect.user.try(:lname) || "NA") %></td>
        <td><%= defect.issue_type %></td>
        <td><%= defect.priority %></td>
        <td><%= defect.status %></td>
        <td><%= link_to 'Show', defect %></td>
        <td><%= link_to 'Edit', edit_defect_path(defect) %></td>
        <td><%= link_to 'Destroy', defect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Defect', new_defect_path %>
